In [2]:
import numpy as np
import pandas as pd

In [5]:
participant_df = pd.read_csv('/Users/shamanthk/Documents/Research/IS-modeling-connectomes/data/participants.txt', sep='\t')
participant_df.head()

,participant_id,age,sex,handedness,BMI,education_level,background_SES,IST_fluid,IST_memory,IST_crystallised,...,sexual_attraction_M,sexual_attraction_F,gender_identity_M,gender_identity_F,religious_upbringing,religious_now,religious_importance,DWI_TR_run1,DWI_TR_run2,DWI_TR_run3
0,sub-0001,22.00,female,right,23,medium,2.0,77.0,49.0,33.0,...,7.0,1.0,1.0,7.0,no,yes,2.0,6.312,6.312,6.312
1,sub-0002,21.75,female,right,20,medium,5.5,97.0,63.0,39.0,...,7.0,1.0,2.0,7.0,no,no,NaN,NaN,6.311,6.311
2,sub-0003,25.25,female,right,31,high,3.0,122.0,67.0,38.0,...,6.0,3.0,1.0,6.0,no,no,NaN,6.312,6.312,6.312
3,sub-0004,22.50,female,right,20,high,5.0,149.0,69.0,52.0,...,6.0,2.0,1.0,7.0,yes,no,NaN,6.311,6.311,6.311
4,sub-0005,22.25,male,right,23,high,4.5,112.0,57.0,43.0,...,1.0,7.0,6.0,1.0,no,no,NaN,6.311,6.311,6.311

In [10]:
chosen_participant = participant_df[participant_df.IST_intelligence_total == participant_df.IST_intelligence_total.min()]
chosen_participant

,participant_id,age,sex,handedness,BMI,education_level,background_SES,IST_fluid,IST_memory,IST_crystallised,...,sexual_attraction_M,sexual_attraction_F,gender_identity_M,gender_identity_F,religious_upbringing,religious_now,religious_importance,DWI_TR_run1,DWI_TR_run2,DWI_TR_run3
281,sub-0282,20.0,male,right,17,low,4.0,24.0,28.0,16.0,...,1.0,7.0,7.0,1.0,yes,yes,2.0,6.311,6.311,6.311

In [14]:
print("partipant id: ", chosen_participant.participant_id)
print("total intelligence score: ", chosen_participant.IST_intelligence_total)

partipant id:  281    sub-0282
Name: participant_id, dtype: object
total intelligence score:  281    68.0
Name: IST_intelligence_total, dtype: float64